---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Enero 2022 - Marzo 2023",
    title: "Desarrollador RPA UiPath Jr.",
    company: "Visión y Acción S.R.L.",
    description: [
      `- Programación con VB.NET y C# en el UiPath Studio.`,
      `- BBDD MySQL.`,
      `- Computer Vision: automatizaciones en Amazon Appstream.`,
      `- OCR y Expresiones Regulares para lecturas de PDFs.`,
      `- Automatizaciones de interfaz de usuarios en
        SAP, Oracle Applications y navegadores.`,
    ],
  },
  {
    date: "Julio 2021 - Octubre 2021",
    title: "Práctica Profesional Supervisada de Ingeniero",
    company: "Borax Argentina S.A.",
    description: [
      `- Proyecto de la práctica: diseño, desarrollo e
      implementación de Dashboards en Power BI
      y Power Automate para el área de
      Operaciones y el área de Mantenimiento.`,
      `- Desarrollo de una aplicación para
      etiquetados en VB.NET.`,
      `- Soporte técnico.`,
    ],
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
